* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  background-color: #121417;
  position: relative;
}

.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rating__modal {
  background-color: #1f2630;
  padding: 30px 38px 30px 30px;
  width: 410px;
  height: 410px;
  border-radius: 25px;
}

.rating__icon {
  width: 50px;
  height: 50px;
  background-color: #262f38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.rating__title {
  margin-top: 30px;
  color: white;
  display: block;
  font-size: 1.93em;
}

.rating__subtitle {
  display: block;
  color: #959eac;
  margin-top: 12px;
  line-height: 1.55;
}

.valoration {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.valoration input[type="radio"] {
  display: none;
}

.valoration input[type="radio"]:checked + label {
  background: #fb7413;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.valoration label {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  background: #252d37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: 700;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.valoration label:hover {
  background: #959eac;
  cursor: pointer;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.valoration__btn {
  background-color: #fb7413;
  border: 0;
  width: 100%;
  border-radius: 50px;
  height: 45px;
  color: white;
  font-family: "Overpass", sans-serif;
  font-size: 1em;
  margin-top: 30px;
  padding-top: 5px;
  letter-spacing: 2px;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  font-weight: 700;
}

.valoration__btn:hover {
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  background-color: white;
  color: #fb7413;
  cursor: pointer;
}

.rating__thanks {
  display: none;
}

.rating__thanks {
  text-align: center;
}

.rating__img {
  margin-top: 15px;
}

.error {
  position: absolute;
  top: -20px;
  font-weight: 700;
  color: #cd5f5f;
  font-style: italic;
  display: none;
}

.selection {
  background-color: #262f38;
  color: #fb7413;
  padding: 5px 20px;
  margin-top: 28px;
  font-size: 1em;
  display: inline-block;
  border-radius: 50px;
  font-weight: 700;
  margin-bottom: 3px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: none;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 600px) {
  .rating__modal {
    width: 330px;
    height: 360px;
    padding: 25px 25px 30px 25px;
  }
  .rating__icon {
    width: 40px;
    height: 40px;
  }
  .rating__icon svg {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .rating__title {
    margin-top: 16px;
    font-size: 1.65em;
  }
  .rating__subtitle {
    font-size: 0.94em;
    line-height: 1.57;
  }
  .valoration label {
    width: 40px;
    height: 40px;
  }
  .valoration__btn {
    margin-top: 24px;
  }
  .rating__img {
    margin-top: 3px;
  }
  .rating__img img {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .selection {
    margin-top: 14px;
    font-size: 0.9em;
  }
  .rating__thanks .rating__title {
    margin-top: 26px;
  }
}
/*# sourceMappingURL=style.css.map */